.col-xs-2.panel-red(style='width:24%;height:100%;text-align:center') [1/1] Citys
 nav#cl-effect-9.links.cl-effect-9
     - each val in cidade
        a(href='#',style='color:white;font-size:15px')
         span= val.Nome
         span= val.coordenadas
         span= val.continente
