extends layout
block title
   .col-xs-6.col-xs-offset-3.col-sm-6.col-sm-offset-3
   .col-sm-4(style='width:76%')
    div.panel.panel-primary(style='height:50px') Alliances Page
    div.panel.panel-primary(style='height:700px')  fdssdklfsdklfjskldfjkldsjfl
      if locals.user.cod_alianca==null
         p You Dont Have Alliances
      else 
         br
         span Your Aliance
         br 
         span Name:
         span= locals.alianca.nome
         br 
         span TAG:
         span= locals.alianca.TAG
         br 
         span Members:
         span= locals.alianca.N_membros

   .col-xs-2.panel-red(style='width:24%;height:100%;text-align:center')
