extends layout
block title
   .col-sm-4(style='width:76%')
    div.panel.panel-primary(style='height:50px') dsadsadasdsad
    div.panel.panel-primary(style='height:300px;text-align:center')  Dashboard-
      - var count = 0;
      -each val in cidade
        if count < 1
          span= val.Nome
        - count++
      br
      br
      br
      br
      br
      br
      br
      div.panel.panel-primary(style='height:50%;width:24%;text-align:left')
        - var count = 0;
        -each val in cidade
          if count < 1
           span fsdf:
           br
           span fdssdk:
           br
           span Coordenates:
           span= val.coordenadas
           br
           span Points:
           span= val.pontos
           br
           span Point Of Honor
          - count++
      
    .col-sm-4
      div.panel.panel-primary(style='height:150px;text-align:center')  Buildings
       p(style='text-align:left') no Buildings
    .col-sm-4
      div.panel.panel-primary(style='height:150px;text-align:center')  Army
    .col-sm-4
      div.panel.panel-primary(style='height:150px;text-align:center')  Researches
   



        
      
