extends layout
block title
   .col-xs-6.col-xs-offset-3.col-sm-6.col-sm-offset-3
   .col-sm-4(style='width:76%')
    div.panel.panel-primary(style='height:50px') dsadsadasdsad
    div.panel.panel-primary(style='height:700px')  fdssdklfsdklfjskldfjkldsjfl
   .col-xs-2.panel-red(style='width:24%;height:100%;text-align:center')
  
