<p>
  public works!
</p>
<router-outlet></router-outlet>

<!--div id="app">

       <div class="sidebar app-aside" id="sidebar">
       <div class="sidebar-container perfect-scrollbar">
               <nav>
                 <div class="navbar-title">
       <span>Main Navigation</span>
     </div>
     <ul class="main-navigation-menu">
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-home"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> Home </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="fa fa-newspaper-o"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> News </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-layout-grid2"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> The Game </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-pencil-alt"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> Forum </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-user"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> Store </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-layers-alt"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> Media </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-package"></i>
                       </div>
                       <div class="item-inner">
                       <span class="title"> Wiki </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-folder"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> Support </span>
                       </div>
                     </div>
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-menu-alt"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> UserAbuse </span>
                       </div>
                     </div>
                   </a>

                 </li>
                 <li>
                   <a href="#">
                     <div class="item-content">
                       <div class="item-media">
                         <i class="ti-location-pin"></i>
                       </div>
                       <div class="item-inner">
                         <span class="title"> 2DN Password Reset</span>
                       </div>
                     </div>
                   </a>
                 </li>
               </ul>

                 </nav>
               </div>
               </div>
             <div class="app-content">
             <header class="navbar navbar-default navbar-static-top">
               <div class="navbar-header">
                   <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg"  data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                   <i class="ti-align-justify"></i>
                   </a>
                   <a class="navbar-brand" href="#">
                     <img src="./assets/assets/images/logo.png" alt="FirstGame"/>
                   </a>
                   <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                     <i class="ti-align-justify"></i>
                   </a>
                   <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <i class="ti-view-grid"></i>
                   </a>
                 </div>
               <div class="navbar-collapse collapse">
                 <ul class="nav navbar-right">

                   <li class="dropdown">
                     <a href="#">
                        <i class="fa fa-user-plus"></i> <span>Register</span>
                     </a>

                   </li>

                   <li class="dropdown">
                     <a routerLink="#">
                       <i class="fa fa-user"></i> <span>Login</span>
                     </a>
                     </li>
                     </ul>
                 </div>
                 </header>


               </div>
               <footer>
             <div class="footer-inner">
               <div class="pull-left">
                 &copy; <span class="current-year"></span><span class="text-bold text-uppercase">ClipTheme</span>. <span>All rights reserved</span>
               </div>
               <div class="pull-right">
                 <span class="go-top"><i class="ti-angle-up"></i></span>
               </div>
             </div>
           </footer>
       </div-->

       <p>
         login works!
       </p>
