<div class="main-content" >

                      <div class="wrap-content container" id="container">

                        <section id="page-title">

                              <h1 class="mainTitle">Last News</h1>
                              <br>
                              <div class="tabbable">
                                <ul id="myTab2" class="nav nav-tabs nav-justified">
                                  <li class="active">
                                    <a href="#All" data-toggle="tab">
                                    All
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#Geral" data-toggle="tab">
                                    General
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#Events" data-toggle="tab">
                                    Events
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#Updates" data-toggle="tab">
                                    Updates
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#Sales" data-toggle="tab">
                                    Sales
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#Community" data-toggle="tab">
                                    Community
                                    </a>
                                  </li>
                                </ul>
                                <div class="tab-content">
                                  <div class="tab-pane fade in active" id="All">
                                    <p>
                                      Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                    </p>
                                    <p>
                                      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                    </p>
                                  </div>
                                  <div class="tab-pane fade" id="Geral">
                                    <p>
                                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                    </p>
                                    <p>
                                      Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                    </p>
                                  </div>
                                  <div class="tab-pane fade" id="Events">
                                    <p>
                                      Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                    </p>
                                    <p>
                                      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                    </p>
                                  </div>
                                  <div class="tab-pane fade" id="Updates">
                                    <p>
                                      Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                    </p>
                                    <p>
                                      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                    </p>
                                  </div>
                                  <div class="tab-pane fade" id="Sales">
                                    <p>
                                      Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                    </p>
                                    <p>
                                      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                    </p>
                                  </div>
                                  <div class="tab-pane fade" id="Community">
                                    <p>
                                      Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                    </p>
                                    <p>
                                      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </section>

                      </div>
                      <div class="social-icons">
                        <ul>
                      Follow First Game where


                                          <li class="social-twitter" tooltip="Twitter" tooltip-placement="top">
                                            <a  href="https://www.twitter.com/">

                                            </a>
                                          </li>

                                          <li class="social-facebook" tooltip="Facebook" tooltip-placement="top">
                                            <a href="https://www.facebook.com/">

                                            </a>
                                          </li>

                                          <li class="social-youtube" tooltip="YouTube" tooltip-placement="top">
                                            <a  href="https://www.youtube.com/">

                                            </a>
                                          </li>

                                        </ul>

                    </div>
                    </div>
  <router-outlet></router-outlet>
