extends layout
block content
  .error-full-page
      .container
        .row
          .col-sm-12.page-error
            .error-number.text-azure
              |               404
            .error-details.col-sm-12.col-sm-offset-3
              h3 Logout

 
