#sidebar.sidebar.app-aside
  .sidebar-container.perfect-scrollbar
    nav
      .search-form
        a.s-open(href='#')
          i.ti-search
        form.navbar-form(role='search')
          a.s-remove(href='#', target='.navbar-form')
            i.ti-close
          .form-group
            input.form-control(type='text', placeholder='Search...')
            button.btn.search-button(type='submit')
              i.ti-search
      .navbar-title
        span Main Navigation
      ul.main-navigation-menu
        li
          a(href='/')
            .item-content
              .item-media
                i.ti-home
              .item-inner
                span.title  Home
        li
          a(href='news')
            .item-content
              .item-media
                i.fa.fa-newspaper-o
              .item-inner
                span.title News
        li
          a(href='#thegame')
            .item-content
              .item-media
                i.ti-book
              .item-inner
                span.title The Game
        li
          a(href='#forum', target='_blank')
            .item-content
              .item-media
                i.ti-themify-favicon-alt
              .item-inner
                span.title  Forum
        li
          a(href='#store')
            .item-content
              .item-media
                i.fa.fa-diamond
              .item-inner
                span.title  Store
        li
          a(href='#media')
            .item-content
              .item-media
                i.fa.fa-film
              .item-inner
                span.title  Media
        li
          a(href='#wiki')
            .item-content
              .item-media
                i.ti-help-alt
              .item-inner
                span.title  Wiki
        li
          a(href='#Support', target='_blank')
            .item-content
              .item-media
                i.ti-settings
              .item-inner
                span.title Support
        li
          a(href='#UserAbuse')
            .item-content
              .item-media
                i.ti-home(style='visibility:hidden')
              .item-inner
                span.title  User Abuse
        li
          a(href='#PasswordReset')
            .item-content
              .item-media
                i.ti-home(style='visibility:hidden')
              .item-inner
                span.title  2DN Password Reset
