footer
  .footer-inner
    .pull-left
      | ©
      span.current-year
      span.text-bold.text-uppercase First Game
      | .
      span All rights reserved
    .pull-right
      span.go-top
        i.ti-angle-up
